.dashboard-header
  img 
    border-radius: 50%

.dashboard-container

  .dash-list
    border: 1px solid #333333
    padding: 1em
    li
      padding: .5em
    a
      text-decoration: underline
    