@import 'reset'

body
  background: offwhite
  font-family: 'Roboto', sans-serif;

  a
    color: #ffffff
    text-decoration: none
    padding: 10px

@import 'header'
@import 'main'
@import 'home'
@import 'dashboard'